
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    background-color: rgb(33, 33, 33);
    color: white;
    font-family: 'Libre Baskerville', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid wheat;
}

.header__titulo{
    background-color: wheat;
    color: black;
    align-self: center;
}

.nav__list{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.nav__link:hover{
    color: orange;
}

.nav__link{
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    justify-content: center;
    border: solid wheat;

}

.section__fotoPerfil{
    border: 5px solid wheat;
    border-radius: 40%;
    width: 50%;
    align-self: center;
}

.section__cv{
    background-color: wheat;
    color: black ;
    border-radius: 5%;
    text-decoration: none; 
    align-self: center; 
}

.section__cv:hover{
    background-color: orange;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__subtitulo{
    align-self: center;
}

.section__link{
    color: white ;
}

.section__list{
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content:flex-start;
    gap: 20px;
}

.section__item--orange{
    font-size: 15px;
    color: white;
    background-color: orange;
    padding: 1%;

}

.section__item--blue{
    font-size: 15px;
    color: white;
    background-color: blue;
    padding: 1%;

}

.section__item--orangeBlue{
    font-size: 15px;
    color: blue;
    background-color: orange;
    padding: 1%;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: solid wheat;
}

.section__link:hover{
    color: orange;
}

.main--sinborde{
    border: none;
    text-align: center;
    font-size: 15px;
}

.form__descripcion{
    font-size: small;
}

.form__link{
    color: white;

}
.form__link:hover{
    color: orange;
}

.fieldset{
    margin-top: 10px;
}

.fieldset__label{
    margin: 10px;
}

.fieldset__input{
    margin: 10px;
}

