.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.nav__list{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 2px;
    padding-right: 20px;
    background-color: rgba(12, 45, 101, 0.745);    
}

.nav__link:hover{
    color: orange;
}

.nav__link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("fondo_1.jpg")
}

.header__titulo{
    color: rgb(9, 9, 9);
    background-color: #cacaca;
    padding: 20px;
}

.header__imagen{
    width: 20%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0c2d65be;
}

.form__titulo{
    align-self: center;
    color: white;
    margin: 10px;
    font-size: 20px;
}


.form__calculos{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start; 
}

.form__lados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.form__resultados{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-basis: 300px;
}

.form__label{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.form__input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    color: white;
    font-size: large;
}

input{
    height: 30px;
}

.input--small{
    width: 90px;
}

.rectangulo{
    width: 245px;
}

.circulo{
    width: 210px;
    margin: 0;
}

.form__area{
    display: flex;
}

.form__button{
    margin-right: 50px;
    margin-bottom: 2px;
    display: flex;
    justify-content:flex-end;
}

.button{
    text-align: center;
    width: 100px;
    border-radius: 10%;
    margin-bottom: 10px;
}
