
<main class="container__general">
    <div class="titulo">
        <h1 class="scale-in-ver-center">{{pregunta}}</h1>
    </div>
    
    <form class="container">

        <div class="card">
            <div class="face front">
                <img [src]="img1" alt="imagen_playa">
                <input type="radio" id="opc1" name="opciones" value="{{opcion1}}"/>
                <label for="opc1">{{opcion1}}</label>
            </div>

            <div class="face back">
                <h3>¿Sabias qué...</h3>
                <p><strong>Las playas no siempre son doradas?</strong> Hay playas con arena negra volcánica,
                rosa coralina y hasta verde olivo. ¡Cada grano de arena cuenta una historia!
                </p>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img [src]="img2"  alt="imagen_montaña">
                <input type="radio" id="opc2" name="opciones" value="{{opcion2}}"/>
                <label for="opc2">{{opcion2}}</label>
            </div>

            <div class="face back">
                <h3>¿Sabias qué...</h3>
                    <p><strong>Las montañas tienen su propio clima?</strong> Al subir una montaña, puedes experimentar 
                    diferentes climas en pocos kilómetros. ¡Es como viajar por el mundo sin salir de una misma
                    montaña!
                    </p>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img [src]="img3"  alt="imagen_cuidad">
                <input type="radio" id="opc3" name="opciones" value="{{opcion3}}"/>
                <label for="opc3">{{opcion3}}</label>
            </div>
        
            <div class="face back">
                <h3>¿Sabias qué...</h3>
                <p><strong>Muchas ciudades tienen secretos subterráneos?</strong>Bajo las calles de muchas 
                    ciudades se encuentran redes de túneles, ríos subterráneos y hasta antiguas ruinas.
                    París, por ejemplo, tiene más de 200 kilómetros de túneles subterráneos.</p>
            </div>
        </div>
    </form>

    <div class="navegacion">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">1</a></li>
                <li><a href="#" class="selected" active>2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
                <li><a href="">8</a></li>
                <li><a href="">9</a></li>
                <li><a href="">10</a></li>
                <li><a href="">11</a></li>
            </ul>
    </div>

    <div class="botones">
        <button type="button" (click)="atras()">Atrás</button>
        <button type="button" (click)="siguiente()">Siguiente</button>
    </div>
</main>
