<header class="header">
    <a class="header__logo"><img src="../../../assets/img/tienda.png" alt="Logo de ecommerce"></a>
    <div class="buscar__producto">
        <input class="search" value="">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <nav class="header__menu">
        <ul Class="header__menu__lista">
            <li><a routerLink="/inicio" routerLinkActive="activo">Inicio</a></li>
            <li><a routerLink="/tienda" routerLinkActive="activo">Tienda</a></li>
            <li><a routerLink="/nosotros" routerLinkActive="activo">Nosotros</a></li>
        </ul>
    </nav>
    <a class="header__entrar" href="">Entrar</a>
</header>