<main>
    <section class="perfil">
        <img class="perfil__avatar" src="../assets/img/avatar.jpg" alt="Imagen de avatar">
        <h2 class="perfil__nombre">Jhon Wick</h2>
        <h3 class="perfil__titulo">Asesino legendario</h3>
        <a class="perfil__boton" href="">Seguir</a>

        <div class="perfil--estadistica">
            <div class="estadistica__elemento">
                <h3 class="estadistica__elemento--numero">12k</h3>
                <span>Seguidores</span>
            </div>
            <div class="estadistica__elemento">
                <h3 class="estadistica__elemento--numero">1.7k</h3>
                <span>Siguiendo</span>
            </div>
            <div class="estadistica__elemento">
                <h3 class="estadistica__elemento--numero">40</h3>
                <span>Articulos</span>
            </div>
        </div>

        <div class="perfil__bio">
            <h2>Acerca de mi</h2>
            <h3>Asesino a sueldo retirado y amante de los perros</h3>
        </div>

        <div class="perfil__ubicacion">
            <i class="fa-solid fa-location-dot"></i>
            <h2>Estados Unidos</h2>
            <h3>227km cerca</h3>
        </div>

        <div class="perfil--galeria">
            <h2>Mis Fotos</h2>
            <img class="galeria__foto--1" src="../assets/img/galeria1.jpg">
            <img class="galeria__foto--2" src="../assets/img/galeria2.jpg">
            <img class="galeria__foto" src="../assets/img/galeria3.jpg">
            <img class="galeria__foto--4" src="../assets/img/galeria4.jpg">
        </div>

    </section>

    <section class="articulo">
        <article class="articulo__item">
            <h2 class="articulo__item__titulo">playstation</h2>
            <h3 class="articulo__item__subt">gta vi: filtraciones de información que son bastantes dudosas</h3>
            <p>Recientemente se filtró en Internet una importante cantidad de supuesta información sobre Grand Theft Auto VI (GTA VI)
                que nos ofrece una muy buena idea de lo que podemos esperar.</p>
        </article>

        <article class="articulo__item">
            <h2 class="articulo__item__titulo">switch</h2>
            <h3 class="articulo__item__subt">Secuela de the legend of zelda: breath of the wild anunciada en el e3 2019</h3>
            <p>Nintendo anunció la secuela de The Legend of Zelda: 
                Breath of the Wild en el E3 2019 y todos estamos más que emocionados con esto.</p>
        </article>

        <article class="articulo__item">
            <h2 class="articulo__item__titulo">xbox</h2>
            <h3 class="articulo__item__subt">Red dead online recibe actualización masiva y sale de beta</h3>
            <p>Rockstar lanzó el dia de hoy la actualización más grande de Red Dead Online desde que el componente online 
                de Red Dead Redempion 2 se lanzó en noviembre.</p>
        </article>

    </section>
</main>