<main class="w-full h-screen flex justify-center items-center">
    <section class="flex flex-row w-3/5">
        <div class="w-[40%]">
            <img  class="w-full h-full" src="https://img.freepik.com/vector-gratis/fondo-globos-aire-caliente-cielo-nubes_23-2147819217.jpg?t=st=1723166488~exp=1723170088~hmac=47a3fb23d6fedb4a7596194a79a9046744f9a387573a8a76866326601db2f01c&w=740" alt="Imagen de un globo">
        </div>
        <form action="" class="w-[60%] flex flex-col items-center gap-4">
            <h1 class="font-bold my-3">Iniciar Sesión</h1>
            <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <label for="">Correo</label>
                    <input class="bg-neutral-300 px-5 py-1 rounded-md" type="text" placeholder="Ingrese su correo" [formControl]="email">
                </div>
                <div class="flex flex-col">
                    <label for="">Contraseña</label>
                    <input class="bg-neutral-300 px-5 py-1 rounded-md" type="password" placeholder="Ingrese su contraseña" [formControl]="password">
                </div>
            </div>
            <button type="button" (click)="autenticarUsuario()" class="text-black bg-yellow-400 hover:bg-yellow-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-10 py-2.5 text-center ">Entrar</button>
            <p>¿No tienes cuenta? <a>Registrate</a></p>
        </form>
    </section>
</main>



