body {
    margin-top: 15%;
}

.footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer__icons {

    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type:none;
    gap: 20px;

}

.footer__item {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    font-size: 30px;
}

.footer__nav {

    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type:none;
    gap: 30px;

}

.nav__item {
    color: white;
    width: auto;
}